<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">
	
	<dubbo:application name="ai-dubbo-consumer"></dubbo:application>
	
	<!-- 局域网广播注册中心 -->
	<dubbo:registry address="multicast://239.5.6.7:1234"></dubbo:registry>
	
	<!-- 配置式调用服务 -->
<!-- 	<dubbo:reference interface="com.ai.dubbo.service.IUserService" id="helloService"></dubbo:reference>
 -->
 	<dubbo:annotation package="com.ai"/>
 </beans>
